$moderateBlue: hsl(238, 40%, 52%);
$softRed: hsl(358, 79%, 66%);
$lightGrayishBlue: hsl(239, 57%, 85%);
$paleRed: hsl(357, 100%, 86%);

$darkBlue: hsl(212, 24%, 26%);
$grayishBlue: hsl(211, 10%, 45%);
$lightGray: hsl(223, 19%, 93%);
$veryLightGray: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

.container {
  background-color: $white;
  border-radius: 10px;

  width: 45vw;
  height: 8vw;

  display: flex;
  justify-content: space-between;

  margin-block: 1rem;
}

.send-btn {
  color: $white;
  background-color: $moderateBlue;
  border-radius: 5px;
  margin: auto;
  height: 3vw;
  width: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.avatar {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}

.add-comment {
  border: 2px solid $veryLightGray;
  font-size: 1rem;
  margin: 1rem;
  width: 30vw;
  border-radius: 10px;
}


