$lightGray: hsl(223, 19%, 93%);
$veryLightGray: hsl(228, 33%, 97%);

html {
    font-size: 90%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
  margin-block: 3vh;
  padding: 0;
  height: 100vh;

  display: flex;
  justify-content: center;

  font-family: 'Roboto', sans-serif;
  font-size: 1rem;

  background-color: $veryLightGray;
}
