<div class="container" *ngIf="thisComment">

    <div class="vote-box">
        <img class="icon" src="/assets/images/icon-plus.svg" alt="plus" (click)="voteUp()">
        <p class="score">{{thisComment.score}}</p>
        <img class="icon" src="/assets/images/icon-minus.svg" alt="minus" (click)="voteDown()">
    </div>

    <div class="content">
        <div class="top-bar">
          <div class="user-data inline">
            <img class="avatar" [src]="thisComment.user.image.png">
            <span class="username blue-text">{{thisComment.user.username}}</span>
            <span class="you-tag" *ngIf="currentUser && thisComment.user.username==currentUser.username">you</span>
            <span class="time">{{thisComment.createdAt}}</span>
          </div>

          <div class="delete inline" *ngIf="currentUser && thisComment.user.username==currentUser.username"
               (click)="deleteComment()">
            <img class="icon" src="/assets/images/icon-delete.svg" alt="delete">
            <span class="delete">Delete</span>
          </div>

          <div class="reply inline" (click)="toggleReplying(true)">
            <img class="icon" src="/assets/images/icon-reply.svg" alt="reply">
            <span class="reply_text">Reply</span>
          </div>

        </div>

        <div class="text">{{thisComment.content}}</div>
    </div>

</div>

<!--REPLYING-->
<div *ngIf="replying && thisComment">
  <app-add-reply [replyingTo]="username" [originalCommentId]="thisComment.id"
                 (replying)="toggleReplying($event)"></app-add-reply>
</div>

<!--REPLIES-->
<div *ngIf="thisComment && thisComment.replies.length>0">
  <div *ngFor="let reply of thisComment.replies">
    <app-reply [thisReply]="reply" [originalCommentId]="thisComment.id"></app-reply>
  </div>
</div>
